extends layout

block content
    h1
        -date = new Date(date)
        =date.toLocaleDateString() +" om "+ date.toLocaleTimeString()
    table
        each row in data
            tr
                td #{row.label}
                td #{row.value}