!!! 5
html
    head
        link(rel='stylesheet',
            href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
        style(type='text/css')
            body {
                padding-top: 10px;
            }
    body
        .container
            .navbar.navbar-inverse
                .navbar-inner
                    a.brand(href="/") Simpel.nl credits
                    ul.nav.pull-right
                        li
                            a(href="/refresh") Vernieuwen

            block content